<div  class="my-navbar">
    <a href="/home"><img width="45px" src="/assets/wizardcog/images/WizardcogFinal.png" alt=""></a>
    {% if frappe.session.user =='Guest' %}
                <a href="/login"><strong> <i>Profile</i></strong></a>
    {% else %}
                <a href="/desk"><strong> <i>Profile</i></strong></a>
    {% endif %}
    <a href="/about-us"><strong><i>About</i></strong></a>
    <a href="/ourvlogs"><strong><i>Blogs</i></strong></a>

    <div class="social-links" style="margin-left: auto; display: flex; align-items: center;">
        <button id="contact-btn" class="btn btn-primary btn-small btn-small-block btn-update" onclick="createEnquiry()">Enquiry</button>
        <a href="https://www.linkedin.com/company/101717673/admin/feed/posts/" target="_blank"><img src="/assets/wizardcog/images/linkedin2.jpg" alt="LinkedIn" style="width: 30px; margin-left: 10px;"></a>
        <a href="https://www.facebook.com/people/WizardCog/61557586123479/" target="_blank"><img src="/assets/wizardcog/images/facebook2.png" alt="Facebook" style="width: 30px; margin-left: 10px;"></a>
        <a href="https://twitter.com/WizardCog" target="_blank"><img src="/assets/wizardcog/images/x.png" alt="X" style="width: 30px; margin-left: 10px;"></a>
    </div>
</div>