 /* Add this CSS */
 .responsive-image-container {
  width: 200px; /* Set width to 200 pixels */
  height: 200px; /* Set height to 200 pixels */
  margin: 0 auto; /* Center the container */
  overflow: hidden; /* Hide overflow to prevent horizontal scrolling */
}

.responsive-image {
  width: 60%; /* Ensure image fills its container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure block-level display */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #6f339a;
  font-family: sans-serif;
  color: rgb(255, 255, 255); /* Set text color to white */
  margin-bottom: 80px; /* Ensure space for the footer */
}

.container {
  width: 90%;
  margin: 50px auto;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: black; /* Set heading color */
}

.row {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
/*Card */
.card {
  width: 45%; /* Adjusted width to fit 4 cards per row */
  margin-bottom: 50px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensure content fits within card */
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.card-header {
  text-align: center;
  padding: 20px 10px;
  color: rgb(0, 0, 0); /* Set header text color to black */
}

.card-image {
  text-align: center;
  margin-top: auto; /* Push image to the bottom of the card */
}

.card-image img {
  width: 100%; /* Ensure image width matches card width */
  max-height: 200px; /* Set a fixed height for uniformity */
  height: 200px; /* Ensure the image height */
  object-fit: cover; /* Ensure the image covers the container */
}

.card-body {
  padding: 20px 20px;
  text-align: center;
  font-size: 18px;
  color: rgb(0, 0, 0); /* Set body text color to black */
}

.card-body .btn {
  display: block;
  color: white; /* Set button text color to white */
  text-align: center;
  background: linear-gradient(to right, #ff41ff, #ff4b2b);
  text-decoration: none;
  margin-top: 30px;
  padding: 10px 5px;
  transition: 0.3s;
}

.card-body .btn:hover {
  transform: scale(1.1);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card {
      width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container-wrapper {
      flex-direction: column;
  }

  .container {
      width: 100%;
  }

  .sidebar {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
  }

  .heading {
      padding: 20px;
      font-size: 30px;
  }

  .card {
      width: 80%;
  }
}




/* Navbar styles */

.my-navbar {
  display: flex;
  background-color: #6f339a;
  align-items: center;
  color: whitesmoke;
  padding: 10px;
}

.my-navbar a {
  margin-left: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.my-navbar button {
  margin-left: 15px;
  font-family: fantasy;
  font-weight: 600;

}

.my-navbar input[type="text"] {
  margin-left: auto;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  color: white; /* Set navbar input text color to white */
}

@media screen and (max-width: 600px) {
  .my-navbar {
      flex-direction: column;
      align-items: flex-start;
      background-color:rgb(17, 16, 71);
 
  }

  .my-navbar a {
      display: block;
      margin: 10px 0; /* Add margin between links */
      color: rgb(255, 255, 255);
  }

  .my-navbar input[type="text"] {
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
  }
  .my-navbar button{
    display: block;
    margin: 10px 0; 
    font-family: fantasy;
    font-weight: 600;/* Add margin between links */
  }
}

/* Banner image styles */
.banner-image {
  width: 100%; /* Make the image fill the container */
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure block-level display */
}

/* Footer styles */
.footer {
  background-color: #4b0082; /* Match body color */
  color: white; /* Text color */
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}


/*Video Cards */
/*Card */
.card-video {
  width: 30%; /* Adjusted width to fit 4 cards per row */
  margin-bottom: 50px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensure content fits within card */
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  height:200px;
}

.card-video-header {
  text-align: center;
  padding: 20px 10px;
  color: rgb(0, 0, 0); /* Set header text color to black */
}



.card-video-body {
  padding: 20px 20px;
  text-align: center;
  font-size: 18px;
  color: rgb(0, 0, 0); /* Set body text color to black */
}


.card-video:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card-video {
      width: 40%;
  }
}

@media screen and (max-width: 620px) {
 

  .card-video {
      width: 80%;
  }
}